/* Button Component Styles */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  padding: var(--spacing-3) var(--spacing-4);
  border: none;
  border-radius: var(--radius-md);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  min-height: 44px; /* Touch target */
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.btn-primary:disabled {
  color: var(--color-gray-800);
  background: var(--color-gray-200);
}

/* .btn-danger {
  background: var(--color-danger);
  color: var(--color-white);
  border: none;
}

.btn-danger:hover:not(:disabled) {
  background: var(--color-danger-dark);
  transform: translateY(-1px);
  box-shadow: var(--shadow-md);
} */

.btn-secondary {
  background: var(--color-white);
  color: var(--color-primary);
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-secondary:disabled {
  background: var(--color-gray-100);
  color: var(--color-gray-600);
  cursor: not-allowed;
}

.btn-secondary:hover:not(:disabled) {
  background: var(--color-primary-50);
}

.btn-outlined {
  background: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-outlined:disabled {
  background: var(--color-gray-100);
  color: var(--color-gray-600);
  border: 2px solid var(--color-gray-600);
  cursor: not-allowed;
}


.btn-outlined:hover:not(:disabled) {
  background: var(--color-primary-50);
}

.btn-ghost {
  background: transparent;
  color: var(--color-gray-800);
  border: none;
}

/* .btn-ghost:hover:not(:disabled) {
  background: var(--color-bg);
} */

/* Button Sizes */
.btn-sm {
  padding: var(--spacing-2) var(--spacing-3);
  font-size: var(--font-size-sm);
  min-height: 36px;
}

.btn-lg {
  padding: var(--spacing-4) var(--spacing-6);
  font-size: var(--font-size-lg);
  min-height: 52px;
}